<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error" internalLogFile="E:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets async="true">
    <!--Write events to a file with the date in the filename.-->
    <!--<target xsi:type="File" name="f" fileName="E:\temp\exp-internal.log"
            layout="${message}${exception:format=ToString}" />-->

    <target xsi:type="File" name="f" fileName="E:\temp\exp-internal.log" layout="${event-properties:logmessage}" />

    <target xsi:type="EventLog"
            name="eventlog"
            eventId="${event-properties:evId}"
            source="test"
            layout="${event-properties:result}"/>

    <target xsi:type="LogReceiverService"
            name="testing"
            endpointConfigurationName="BasicHttpBinding_ILogReceiverServer"
            endpointAddress="http://localhost:60051/Service1.svc"
            useBinaryEncoding="true"
            optimizeBufferReuse="true"
            useOneWayContract="false"
            clientId="Layout"
            includeEventProperties="false">
      <parameter layout="${event-properties:type}"  name="type" type="System.String"/>
      <parameter layout="${event-properties:Exception}"  name="Exception" type="System.String"/>
      <parameter layout="${event-properties:StackTrace}"  name="StackTrace" type="System.String"/>
      <parameter layout="${event-properties:InnerException}"  name="InnerException" type="System.String"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Error"  writeTo="f,eventlog,testing" />
    <logger name="CspExamples.DBLog" minlevel="Error"  writeTo="testing" />
    <logger name="CspExamples.DBLog" minlevel="Info" maxlevel="Info" final="true"  writeTo="testing" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="f" />
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="f" />
    <logger name="*" minlevel="Info" maxlevel="Info"  writeTo="f" />
  </rules>
</nlog>
